* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .banner {
    padding: 80px 0;
    background-image: url(/images/bannerx2.png);
    background-size:cover;
    background-repeat: no-repeat;
    color: #8d0606d3;
    background-position: center;
  }
  .banner h1 {
    color:#ffffff00;
  }

  .navbar {
    padding: 10px;
    text-align: center;
    background-color: #333;
  }

  .navbar a {
    display: inline-block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #585858;
  }

  .search-container {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 20px; 
  }
  
  .search-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    outline: none;
  }

  .search-container button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #585858;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }
  
  .search-container button:hover {
    background: #777;
  }

body {
    background-color: #F5DEB3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    color: #B22222;
    -webkit-text-stroke: 1px #000000;
}
.tienda-container {
    display: table;
    margin: 20px auto;
}
.producto {
    display: inline-block;
    background: #fff;
    border: 2px solid #B22222;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    vertical-align: top;
}
.producto img {
    width: 100%;
    border-radius: 5px;
}
.producto h2 {
    color: #B22222;
}
.producto p {
    color: #333;
}
.precio {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.boton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #B22222;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.boton:hover {
    background-color: #8B1A1A;
}

.footer {
    padding: 6%;
    text-align: center;
    background-color: #333;
    color: rgb(255, 255, 255);
}

.footer p {
    margin: 5px 0;
}

  @media (max-width: 600px) {
    .navbar a {
      display: block;
      padding: 10px;
      text-align: center;
    }
    
    .navbar a,
    .search-container {
      display: block;
      margin: 10px auto;
    }
  
    .search-container input {
      width: 80%;
    }

    .sidebar,
    .content {
      display: block;
      width: 100%;
      margin: 0;
    }

    .sidebar {
      text-align: center;
    }

    .sidebar ul {
      list-style-type: none;
    }

    .content {
      margin-top: 10px;
    }
    .content2 {
      margin: 20px;
    }
    .footer a {
      display: block;
      margin: 10px;
    }
  }